<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @kanban.title %>
</p>

<p>
  <b>Description:</b>
  <%= @kanban.description %>
</p>


<%= link_to 'Edit', edit_kanban_path(@kanban) %> |
<%= link_to 'Back', kanbans_path %>
